<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    register page
    <form method="post" action="{% url 'registerinfo' %}">
        {% csrf_token %}
        <label>username</label>
        <input type="text" placeholder="username" id="username" name="name">
        <br>
         <label>Email</label>
        <input type="email" placeholder="email" id="email" name="email">
        <br>
        <label>Date of Joining</label>
        <input type="date" placeholder="date" id="date" name="date">
        <br>
       <input type="submit" value="submit">
    </form>
</body>
</html>